<div class="container">
  <div class="row">
    <div class="col-4 offset-sm-4" id="form-content">
      <div id="pre-form">
          <h3 class="text-left title"> Sign In</h3>
      </div>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="User name" />
        </div>

        <div class="form-group">
          <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
      <p><small>Dont't have an account? <a routerLink="/sign-up">Sign Up</a></small></p>
    </div>
  </div>   
</div>  