<div class="modal-header">
  <h4 class="modal-title pull-left">Add comment</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="warning">
      <div *ngIf="f.title.touched  && f.title.errors">
        <div *ngIf="f.title.errors.required">
          <fa [name]="'exclamation-circle'" [fw]=true></fa> The title is required.
        </div>

        <div *ngIf="f.title.errors.maxlength || f.title.errors.minlength">
           <fa [name]="'exclamation-circle'" [fw]=true></fa> Title must contain 10..255 length. 
        </div>
      </div>
  </div>

  <form id="add-comment-form" (ngSubmit)="onSubmit()" [formGroup]="commentForm">
      <div class="form-group">
        <textarea class="form-control form-control-lg" formControlName="title" placeholder="Enter Your Comment" autofocus></textarea>
        <img [src]="filePreview" style="width: 250px;">
        <i class="fa fa-paperclip btn-file clinch" aria-hidden="true" ></i>
        <input id="attachment" name="attachment" #fileInput (change)="previewFile(fileInput)" type='file' accept="image/jpg, image/png">
        <div class="text-left" style="padding-top: 2%;">
          <button type="submit" class="btn btn-primary" >Save</button>
          <a class="btn" (click)="modalRef.hide()">Cancel</a>
        </div>
      </div>
  </form>
</div>

<div class="modal-footer justify-content-start" style="display:block" *ngIf="comments && comments">
    <comment-item  *ngFor="let comment of comments" [comment]="comment" (onDelete)="onDelete($event)" ></comment-item>
</div>