<div class="container">
  <div class="row" id="header">
    <div class="col-sm-2">
      <img src="/assets/logo.png">
    </div>
    <div class="col-sm-8">
      <h3 class="text-center" id="header-title">Simple ToDo List</h3>
    </div>
    <div class="col-sm-2">
      <div class="text-center" id="logout-link" *ngIf="logged">
        <fa [name]="'sign-out fa-2x'"  [fw]=true id="logout" (click)="logOut();"></fa>
      </div>
    </div>
  </div>
</div>
<div class="container" id="content">
    <ng-flash-message></ng-flash-message>
    <router-outlet></router-outlet>
</div>