/* You can add global styles to this file, and also import other style files */
body {
    background-color: #c2c2c2;
}

#header {
    background-color: #e0e6f2;
}

#content {
    height: 100vh;
    background-color: white;
}

#header-title {
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    padding: 4%;
}

.title {
    color: black;
}

#form-content {
    padding: 5%;
}

.pre-form {
    padding-top: 2%;
    padding-bottom: 5%;
}

.warning {
    display: -webkit-inline-box;
    display: inline;
    color: red;
}

#logout {
    color: #83888e;
}

.red {
    color: red;
}

.green {
    color: green;
}

.checked {
    text-decoration: line-through;
}

/*  project form */
#project-form {
  padding-top: 2%; 
}

/* projects */

.panel  {
    border: none;
}

/*.card {
    border: none;
}*/

.panel-heading {
    background-color: #fff; 
}

.task-form {
    padding-top: 2%; 
}

/* home */

#projects_label {
    padding-top: 2%; 
    padding-bottom: 1%;
}  


/* comments */

.clinch {
    color: grey;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    padding-top: 12%;
}    


#attachment {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    padding-top: 12%;
    opacity: 0;
}